annotated-doc
annotated-types
anyio
certifi
click
contourpy
cycler
dnspython
email-validator
fastapi
fastapi-cli
fonttools
h11
httpcore
httptools
httpx
idna
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
orjson
packaging
pillow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
PyYAML
rich
rich-toolkit
shellingham
six
starlette
typer
typing-inspection
typing_extensions
ujson
uvicorn
watchfiles
websockets
